{{> header}}


<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-6 py-lg-7 pt-lg-8">
        <div class="container">
            <div class="header-body text-center mb-4">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-8 col-md-8 px-10">
                        <h1 class="text-white">Absent Students</h1>
                        <p class="text-lead text-white">Check out all the absentees!
                        </p>
                    </div>

                </div>

            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 ">
        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-sm-auto text-center">
                            <h3 class="mb-2">Absentees</h3>
                        </div>
                        <div class="col-right mx-auto mr-sm-2 mb-2">
                            <a href="/user/downloadAbsent" class="btn btn-sm btn-primary"> <i
                                    class="ni ni-cloud-download-95"></i>
                                Download XLS File</a>
                        </div>
                        <div class="col-right mr-auto mr-lg-2 mb-2">
                            <ul class="navbar-nav ml-lg-auto">
                                <li class="nav-item dropdown">
                                    <a class="btn btn-sm btn-primary" href="#" id="navbar-default_dropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-filter text-white mr-2"></i>
                                        Filter
                                    </a>
                                    {{#if filterActive}}
                                    <a href="/user/absentees/filter/all" class="btn btn-sm btn-danger">Remove Filter</a>
                                    {{/if}}
                                    <div class="dropdown-menu dropdown-menu-down"
                                        aria-labelledby="navbar-default_dropdown_1">
                                        {{#each classes}}
                                        {{#ifCond this.name '==' activeClassname}}
                                        <div></div>
                                        {{else}}
                                        <a class="dropdown-item"
                                            href="/user/absentees/filter/{{name}}">{{this.name}}</a>
                                        {{/ifCond}}
                                        {{/each}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Roll Number</th>
                                <th scope="col">Classroom</th>
                                <th scope="col">Date</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each absent}}
                            {{#each absentees}}
                            <tr>
                                <th scope="row">{{this}}</th>
                                <th scope="row">{{lookup ../rollnumber @index}}</th>
                                <td style="padding-left: 35px;">{{../this.class}}</td>
                                <td>{{../this.date}} 2021</td>
                                <th scope="row">{{lookup ../email @index}}</th>

                            </tr>
                            {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 15vh;"></div>
</div>