{{> header}}


<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-6 py-lg-7 pt-lg-8">
        <div class="container">
            <div class="header-body text-center mb-4">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-8 col-md-8 px-10">
                        <h1 class="text-white">Add students to {{this.classroom.name}} class</h1>
                        <p class="text-lead text-white">Below is the list of all registered students!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 ">
        <div class="col-sm-10 offset-sm-1">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col mx-auto mx-sm-0 text-center text-md-left">
                            <h3 class="mb-2">All Students</h3>
                        </div>
                        {{#if users}}
                        <div class="col-right mx-auto mr-sm-2 mb-2">
                            <a href="/classroom/class-details/{{this.classroom._id}}/students/addAll" class="btn btn-sm btn-primary"><i class="fas fa-plus text-white mr-2"></i> Add all students</a>
                        </div>
                        {{/if}}
                        <div class="col-right mx-auto mr-md-2">
                            <a href="/classroom/addStuFilter" class="btn btn-sm btn-primary mb-2"><i class="fas fa-filter text-white mr-2"></i>Filters</a>
                            {{#if filterActive}}
                            <a href="/classroom/class-details/{{this.classroom._id}}/students/new"
                                class="btn btn-sm btn-danger mb-2">Remove Filter</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Roll no</th>
                                <th scope="col">Class</th>
                                <th scope="col">Year</th>
                                <th scope="col">Add a student</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr>
                                <th scope="row">{{this.name}}</th>
                                <td>{{this.email}}</td>
                                <td>{{this.rollnumber}}</td>
                                <td style="padding-left: 30px;">{{this.class}}</td>
                                <td style="padding-left: 30px;">{{this.year}}</td>
                                <td>
                                    <div style="padding-left: 25px;">
                                        <a href="/classroom/class-details/{{../this.classroom._id}}/students/new/{{this._id}}"
                                            class="btn btn-sm btn-primary">
                                            <i class="fas fa-plus text-white"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>