{{> teacher-sidenav}}

<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h6 style="font-family:'Lobster', cursive;" class="h2 text-white d-inline-block mb-0">
                    {{this.classroom.name}} - {{this.classroom.description}}
                </h6>
                <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                    <li class="nav-item">
                        <div class="media align-items-center">
                            <div class="media-body  ml-2  d-none d-lg-block">
                                <h4 class="mb-0  " style="color: white;font-family:'Lobster', cursive;">Welcome
                                    <b>{{this.user.name}}</b>
                                </h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/user/teacher-classrooms">Classrooms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{this.classroom.name}}</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="/user/add-lec/{{this.classroom._id}}" class="btn btn-sm btn-neutral"> <i
                                class="ni ni-fat-add text-primary"></i>
                            Conduct a lecture</a>
                    </div>
                </div>

                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Classrooms</h5>
                                        <span class="h2 font-weight-bold mb-0">{{totClass}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="ni ni-active-40"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Students Enrolled in
                                            {{this.classroom.name}}
                                        </h5>
                                        <span class="h2 font-weight-bold mb-0">{{totStu}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div
                                            class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                            <i class="ni ni-chart-pie-35"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Lectures Of
                                            {{this.classroom.name}} Conducted
                                        </h5>
                                        <span class="h2 font-weight-bold mb-0">{{# if this.classroom.totLec}}
                                            {{this.classroom.totLec}} {{else}} 0 {{/if}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                            <i class="ni ni-money-coins"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Average
                                            {{this.classroom.name}} Attendance</h5>
                                        <span class="h2 font-weight-bold mb-0">{{totP}}%</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                            <i class="ni ni-chart-bar-32"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page content -->
    <div class="container-fluid mt--6 ">
        <div class="col-xl-10" style="padding-left: 250px;">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Students Enrolled</h3>
                        </div>
                        <div style="padding-right: 50px">
                            <a href="/user/take_attendance/{{this.classroom._id}}" class="btn btn-sm btn-primary">Take
                                Attendance</a>
                        </div>
                        <div class="col-right">
                            <a href="/user/class-details/{{this.classroom._id}}/students/new"
                                class="btn btn-sm btn-primary"> <i class="ni ni-fat-add text-white"></i>Add
                                Students</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Lectures</th>
                                <th scope="col">
                                    <div style="padding-left: 50px;">Attendance</div>
                                </th>
                                <th scope="col">Remove A Student</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each students}}
                            <tr>
                                <th scope="row">{{name}}</th>
                                <td>{{email}}</td>
                                <td>
                                    <div style="padding-left: 25px;">{{counts}}</div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">{{percent}}%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar"
                                                    aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: {{percent}}%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-left: 40px;">
                                        <a href="/user/class-details/{{../this.classroom._id}}/students/remove/{{this._id}}"
                                            class="btn btn-sm " style="background-color: rgb(224, 41, 41);">
                                            <i class="fas fa-minus text-white"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>